@import '../../utilities/color.scss';
@import '../../utilities/dimension.scss';

.component-preview {
  min-width: $min-width;
}

.component-preview-title {
  font-weight: bold;
  font-size: 24px;
  color: $mine-shaft;
  line-height: 32px;
  margin-bottom: 16px;
}

.component-preview-content {
  width: 300px;
  height: 42px;
}