@import '../../utilities/color.scss';
@import '../../utilities/dimension.scss';

.properties {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  min-width: $min-width;
  max-width: $max-width;
}