@import '../../utilities/color.scss';

.toggle-icon {
  display: block;
  width: 12px;
  height: 12px;
}
.toggle-icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 2px;
}
.toggle-icon-box:hover {
  cursor: pointer;
  background-color: $black-jaded;
}