@import '../../utilities/color.scss';
@import '../../utilities/dimension.scss';

.title {
  display: flex;
  align-items: center;
  min-width: $min-width;
  margin-bottom: 28px;
}

.title-text {
  font-weight: bold;
  font-size: 36px;
  color: $mine-shaft;
  line-height: 40px;
  margin-right: 4px;
}

/** eyecon-tooltip */
.eyecon-tooltip {
  display: none;
  align-items: center;
  position: absolute;
  left: 106.5px;
}
.eyecon-tooltip-arrow {
  position: absolute;
  top: 15px;
  left: 60px;
}
.eyecon-tooltip-box {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 20px;
  width: 129px;
  height: 39px;
  background-color: $cod-gray-jaded;
  color: $silver;
  font-family: Lato;
  font-size: 12px;
  line-height: 16px;
  border-radius: 2px;
  text-align: center;
}
.eyecon-box:hover + .eyecon-tooltip {
  display: flex;
}

/** cogwheel-icon-tooltip */
.cogwheel-icon-tooltip {
  display: none;
  align-items: center;
  position: absolute;
  left: 130.5px;
}
.cogwheel-icon-tooltip-arrow {
  position: absolute;
  top: 15px;
  left: 60px;
}
.cogwheel-icon-tooltip-box {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 20px;
  width: 129px;
  height: 24px;
  background-color: $cod-gray-jaded;
  color: $silver;
  font-family: Lato;
  font-size: 12px;
  line-height: 16px;
  border-radius: 2px;
  text-align: center;
}
.cogwheel-icon-box:hover + .cogwheel-icon-tooltip {
  display: flex;
}