$alto: #dadada;
$black-jaded: #0000000d;
$blue-ribbon: #006cff;
$blue-ribbon-jaded: #006cff4d;
$boulder: #777777;
$cod-gray-jaded: #111111e6;
$gallery: #f0f0f0;
$gray: #848484;
$gray-scrollbar: #7F7F7F;
$light-blue: #CCE2FF;
$mercury: #e6e6e6;
$mine-shaft: #373737;
$scorpion: #5e5e5e;
$scorpion-jaded: #5e5e5e4d;
$silver: #cdcdcd;
$white: #ffffff;