@import '../../../../utilities/color.scss';

.property-field {
  font-size: 14px;
  color: $scorpion;
  line-height: 24px;
  margin: 0px 0px 12px 20px;
}

.property-field-label {
  margin-right: 21px;
}

.property-field-input-text {
  width: 240px;
  border: 0px;
  border-bottom: 1px solid $mercury;
  outline: none;
  font-family: Lato;
  font-size: 14px;
  color: $scorpion;
}

/** textarea */
.property-field-textarea {
  display: block;
  resize: none;
  width: 513px;
  padding: 3px 8px;
  border: 1px solid $mercury;
  outline: none;
  font-family: Lato;
  font-size: 14px;
  color: $scorpion;
  line-height: 16px;
}
.property-field-textarea::-webkit-scrollbar {
  width: 4px;
}
.property-field-textarea::-webkit-scrollbar-thumb {
  background-color: $gray-scrollbar;
  border-radius: 2px;
  border-right: 1px solid $white;
}

/** select */
.property-field-select {
  width: 118px;
  border: 0px;
  border-bottom: 1px solid $mercury;
  outline: none;
  font-family: Lato;
  font-size: 14px;
  color: $scorpion;

  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-image: url('dropdown-chevron.svg');
  background-repeat: no-repeat, repeat;
  background-position: right 0% top 50%;
  background-size: 7px 7px;
}
/* For IE */
.property-field-select::-ms-expand {
  display: none;
}

/** extra-control */
.property-field-extra-control {
  width: 48px;
  border: 0px;
  border-bottom: 1px solid $mercury;
  outline: none;
  margin: 10px 0px 0px 10px;
  padding: 0px;
  font-family: Lato;
  font-size: 14px;
  color: $scorpion;
}
.property-field-extra-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: $mercury;
  opacity: 1; /* Firefox */
}
.property-field-extra-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: $mercury;
}
.property-field-extra-control::-ms-input-placeholder { /* Microsoft Edge */
  color: $mercury;
}

/** boolean */
.property-field-boolean {
  display: inline-flex;
  width: 117px;
  height: 24px;
  border: 1px solid $mercury;
  border-radius: 2px;
  cursor: pointer;
}
.property-field-boolean-option {
  flex: 1;
  text-align: center;
}
.property-field-boolean-option.left {
  border-right: 1px solid $mercury;
}
.property-field-boolean-option.active {
  background-color: $gallery;
}

/** description */
.property-field-description {
  font-size: 12px;
  color: $gray;
  line-height: 16px;
}
.property-field-description-span-link {
  color: $scorpion;
  text-decoration: underline;
  text-underline-offset: 1px;
  text-decoration-color: $scorpion-jaded;
  cursor: pointer;
}