@import '../utilities/color.scss';
@import '../utilities/dimension.scss';

/** tooltip */
.dashboard-logo-tooltip {
  display: none;
  align-items: center;
  position: absolute;
}
.dashboard-logo-tooltip-arrow {
  position: absolute;
  top: 15px;
  left: 6.5px;
}
.dashboard-logo-tooltip-box {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 20px;
  width: 115px;
  height: 24px;
  background-color: $cod-gray-jaded;
  color: $silver;
  font-family: Lato;
  font-size: 12px;
  line-height: 16px;
  border-radius: 2px;
}

/** navbar */
.navbar {
  display: flex;
  align-items: center;
  padding: 9px 20px 8px 8px;
  min-width: $min-width;
  height: 40px;
  border-bottom: 1px solid $mercury;
}
.navbar-filler {
  flex-grow: 1;
}

/** dashboard logo */
.dashboard-logo {
  display: block;
  width: 14px;
  height: 14px;
}
.dashboard-logo-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  margin-right: 11px;
  border-radius: 2px;
}
.dashboard-logo-box:hover {
  cursor: pointer;
  background-color: $black-jaded;
}
.dashboard-logo-box:hover + .dashboard-logo-tooltip {
  display: flex;
}

/** navbar-title */
.navbar-title {
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 1px solid $alto;
  padding-left: 16px;
  font-size: 15px;
  line-height: 20px;
}
.navbar-title-library {
  color: $boulder;
}
.navbar-title-divider {
  color: $mine-shaft;
}
.navbar-title-component {
  color: $mine-shaft;
  font-weight: bold;
}

/** navbar-discard */
.navbar-discard-changes {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 24px;
  margin-right: 14px;
  text-decoration: underline;
  text-underline-offset: 1px;
  text-decoration-color: $scorpion-jaded;
  text-decoration-skip-ink: none;
  color: $scorpion;
  cursor: pointer;
}

/** navbar-save */
.navbar-save-changes {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 98px;
  height: 24px;
  border-radius: 2px;
  font-family: ProximaNova-Semibold;
  line-height: 16px;
  cursor: pointer;
  text-align: center;
}
.navbar-save-changes-button-active {
  font-size: 12px;
  background-color: $blue-ribbon;
  color: $white;
}
.navbar-save-changes-button-inactive {
  font-size: 10px;
  background-color: $gallery;
  color: $scorpion;
}
