@import '../../../utilities/color.scss';

.property-editor {
  display: flex;
  flex: 1;
  border-bottom: 1px solid $mercury;
  padding-bottom: 9px;
}
.property-editor.closed {
  cursor: pointer;
}
.property-editor.closed:hover .toggle-icon-box {
  background-color: $black-jaded;
}

.property-editor-property-field {
  display: flex;
  flex: 4;
  margin: 12px 0px 0px 20px;
  font-size: 18px;
  color: $mine-shaft;
  line-height: 24px;
}

.property-editor-property-name {
  margin-right: 4px;
}
.property-editor-property-name.invisible {
  opacity: 0.3;
}

.property-editor-close-field {
  display: flex;
  flex: 1;
  margin: 12px 20px 0px 0px;
}

.property-editor-filler {
  flex: 1;
}

/** eyecon-tooltip */
.property-editor-eyecon-tooltip {
  display: none;
  align-items: center;
  position: relative;
  left: -61.5px;
  top: 12px;
}
.property-editor-eyecon-tooltip-arrow {
  position: absolute;
  top: 15px;
  left: 45px;
}
.property-editor-eyecon-tooltip-box {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 20px;
  width: 98px;
  height: 24px;
  background-color: $cod-gray-jaded;
  color: $silver;
  font-family: Lato;
  font-size: 12px;
  line-height: 16px;
  border-radius: 2px;
  text-align: center;
}
.eyecon-box:hover + .property-editor-eyecon-tooltip {
  display: flex;
}

/** cogwheel-icon-tooltip */
.property-editor-trash-icon-tooltip {
  display: none;
  align-items: center;
  position: relative;
  left: -67px;
  top: 12px;
}
.property-editor-trash-icon-tooltip-arrow {
  position: absolute;
  top: 15px;
  left: 50px;
}
.property-editor-trash-icon-tooltip-box {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 20px;
  width: 115px;
  height: 24px;
  background-color: $cod-gray-jaded;
  color: $silver;
  font-family: Lato;
  font-size: 12px;
  line-height: 16px;
  border-radius: 2px;
  text-align: center;
}
.trash-icon-box:hover + .property-editor-trash-icon-tooltip {
  display: flex;
}