@import './utilities/color.scss';

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

@font-face {
  font-family: 'ProximaNova-Semibold';
  src: url('./fonts/ProximaNova-SemiboldWeb.woff');
}

body {
  margin: 0px 0px 12px 0px;
  font-family: Lato;
}
body::-webkit-scrollbar {
  width: 4px;
}
body::-webkit-scrollbar-thumb {
  background-color: $gray-scrollbar;
  border-radius: 2px;
  border-right: 1px solid $white;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.light-select::selection {
  background: $light-blue;
}

.light-select::-moz-selection {
  background: $light-blue;
}