@import '../../../utilities/color.scss';

.properties-form {
  flex: 1;
  padding-bottom: 31px;
}
.properties-form.showing {
  border-bottom: 1px solid $mercury;
}

.properties-title {
  margin-bottom: 17px;
}

.properties-title-text {
  font-weight: bold;
  font-size: 24px;
  color: $mine-shaft;
  line-height: 32px;
  margin-right: 10px;
}

/** add-properties */
.add-properties {
  font-size: 14px;
  color: $blue-ribbon;
  line-height: 24px;
}
.add-properties:hover {
  cursor: pointer;
}
.add-properties-text {
  text-decoration: underline;
  text-decoration-color: $blue-ribbon-jaded;
  text-decoration-skip-ink: none;
}

.properties-form-button-group {
  display: flex;
  font-size: 14px;
  color: $scorpion;
}

.properties-form-button-group-filler {
  flex: 1;
}

.properties-form-cancel-link {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 24px;
  margin-right: 10px;
  text-decoration: underline;
  text-underline-offset: 1px;
  text-decoration-color: $scorpion-jaded;
  text-decoration-skip-ink: none;
  cursor: pointer;
}

.properties-form-add-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 66px;
  height: 34px;
  border-radius: 2px;
  background-color: $blue-ribbon;
  font-weight: bold;
  color: $white;
  line-height: 18px;
  margin-right: 20px;
  text-align: center;
  cursor: pointer;
}